@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
}
:root{
    --cor0:#F2F2F2;
    --cor1:#BFBFBF;
    --cor2:#89888C;
    --cor3:#3f3f41;
    --cor4:#F2D8E4;
    --font:'Roboto';
}
body{

   
    font-family:var(--font),Arial, Helvetica, sans-serif;
    background-color: var(--cor3);
}
h1,h2,h3,h4,h5,h6{
    color: whitesmoke;
}
header{
    background-image: url('../img/ivan-torres-MQUqbmszGGM-unsplash.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
}
header h1{
    text-align: center;
}
#menu ul{
    list-style:none;
    padding:0px;
    margin:0px;
    font-weight: bold;
    font-size: 1.4rem;
    float: right;
    width: 100%;
}
#menu ul li{display: inline;}
#menu ul li a{
    text-decoration: none;
    color:wheat;
    float: right;
    padding:4px,12px;
}
#menu ul li a:hover{
    color: white;
    transition-duration: 0.8s;
}
main{
    width: 1000px;
    margin:auto;
    padding: 10px;
    line-height: 1.4rem;
}
#section{
   margin: auto;
   width: 100%;
}
.container{
    display:flex;
    padding: 15px;
}
#h2{
    font-size: 2rem;
}
#h3{
    margin-left: 25%;
} 
#section1{
 
    width: 100%;
 
    height: 300px;
    color:black;
    margin: auto;

}
#section1 p{
 text-align: justify;
}
#section1 ul{
    list-style: none;
}
#section1 p{
font-size:1.4rem;
line-height: 2rem;
}
#section1 ul li{display:inline}
#section1 ul li button{
    border:2px solid white;
    box-sizing: border-box;
    padding:  25px;
    width: 150px;
    font-weight: bold;
    margin-left: 45px;
    outline: none;
    background-color: var(--cor3);
    
}
#section1 ul li button:hover{
    background-color: var(--cor3);
    color: white;
    border: black solid 2px;
}
.container p{
    text-align: justify;
    font-size: 1.4rem;
}
.right{
    width: 100%;
    padding: 15px;
}
.left{
    flex-grow: 1;
}
#conten{
    display:flex;
    width:100%;
}
#block{
    width: 400px;
    height: 400px;
    
    background-size: cover;
    background-image: url('../img/saahil-khatkhate-kfDsMDyX1K0-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    border-radius: 35px;
}
#block h2{
  text-align: center;
  color: black;
}
#block2{
    width: 400px;
    margin: 15px;
    height: 400px;
    background-size: cover;
    background-image: url('../img/vitalii-chernopyskyi-Oxb84ENcFfU-unsplash.jpg');
    background-attachment: local;
    background-repeat: no-repeat;
    border-radius: 30px;
    flex-grow: 1;
}
footer{
    background-color: var(--cor2);
    margin-top: 75px;
    padding: 15px;

}
footer p{
    text-align: center;
}
@media screen  and (max-width:600px) {
    .container{
        display: block;
    }
    #conten{
        display: block;
    }
    #block{
        margin-top: 300px;
    }
    #block1{
        margin-top: 300px;
    }
}
@media screen and (min-width:380px) {
    body{
        width: 100%;
        background-color: var(--cor3);
    }
    main{
        width:80%;
    }
    footer{
        width: 100%;
    }
}